# الأساسيات لتشغيل الواجهة
streamlit

# أدوات التحكم في المتصفح والتقديم الآلي
selenium
webdriver-manager

# معالجة البيانات وإدارة سجل التقديمات
pandas
numpy

# أدوات إضافية للتعامل مع ملفات PDF (سيرتك الذاتية)
PyPDF2

# أداة لجدولة المهام (إذا لم نستخدم جدولة السيرفر الداخلية)
schedule